# A .env in this folder is only used for local development solely on the API or testing.
# The .env in the root folder of the project should be used for deployment.

API_PORT=
HOSTNAME=

MONGO_PORT=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DATABASE=
MONGO_SERVICE=

ENVIRONMENT=
FRONTEND_PORT=

FRONTEND_URL= 
BACKEND_URL= 

SSO_CLIENT_ID=
SSO_CLIENT_SECRET=
SSO_AUTH_SERVER_URL=

TESTING=
